source https://www.nuget.org/api/v2

framework: >= netcoreapp2.2
nuget FSharp.Core
nuget Giraffe
nuget Microsoft.AspNetCore.App
nuget Newtonsoft.Json


group Build
source https://www.nuget.org/api/v2

nuget FAKE